:root {
	--black: rgb(10, 10, 10);
	--white: rgb(218, 218, 218);
	--accent: rgb(187, 28, 28);
	--main-font: "IBM Plex Mono", monospace;
	--secondary-font: "Space Mono", monospace;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--black);
}

::-webkit-scrollbar-thumb {
	background: var(--accent);
}

::selection {
	background: var(--accent);
}

html {
	height: 100vh;
	width: 100vw;
	cursor: crosshair;
}
:hover {
	cursor: crosshair;
}

pre {
	color: var(--accent);
}

@media screen and (width < 1281px) {
	.hour-glass pre {
		display: none;
	}
}

.cursor {
	animation: flicker 300ms ease-in-out infinite;
}

@keyframes flicker {
	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.1;
	}
	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		opacity: 0.9;
	}
}

.cursor > h2 {
	position: absolute;
	font-family: var(--main-font);
	color: var(--accent);
	font-size: 15px;
}

.horizontal,
.virtical {
	background-color: var(--white);
	position: absolute;
	pointer-events: none;
}

.horizontal {
	height: 1px;
	width: 97.5%;
}

.virtical {
	width: 1px;
	height: 100%;
}

@media screen and (width < 1281px) {
	.cursor {
		display: none;
	}
}

body {
	margin: 0;
	padding: 1.5rem;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	overflow: hidden;
	background-color: var(--black);
}

h1,
h2,
h3,
p {
	margin: 0;
}

.hide {
	opacity: 0;
}

.main-body {
	width: 100%;
	height: 100%;
	border: 1px solid var(--white);
	overflow: hidden;
}

.nav {
	display: flex;
	border-bottom: 1px solid var(--white);
}

.title {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.title > a {
	width: 220px;
	overflow: hidden;
	font-family: var(--main-font);
	color: var(--white);
	text-decoration: none;
}

.title > a > h2 {
	font-weight: 100;
	transform: translateX(100%);
	animation: scroll-left 6s linear infinite;
}

@keyframes scroll-left {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.title > img {
	width: 20px;
	padding: 10px 1rem;
}

.title > a:hover {
	background-color: var(--white);
	color: var(--black);
}

.burger-container {
	display: grid;
	place-content: center;
	margin-right: 8px;
	opacity: 0;
}

.nav-burger {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.5rem;
	cursor: pointer;
}

.bar {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 2px;
	background-color: white;
}

.bar-2 {
	width: 20px;
}

.bar-3 {
	width: 10px;
}

/* Nav-burger "X" animation toggle*/
.nav-burger.active .bar-1 {
	transform: translateY(10px) rotate(-45deg);
	width: 30px;
}

.nav-burger.active .bar-2 {
	opacity: 0;
}

.nav-burger.active .bar-3 {
	transform: translateY(-10px) rotate(45deg);
	width: 30px;
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
}

.nav-panel {
	width: 300px;
	border-right: 1px solid var(--white);
	display: flex;
	flex-direction: column;
	height: 97%;
}

.sum-section {
	width: 90%;
	margin: 0 auto;
	padding-top: 1rem;
	border-bottom: 1px solid var(--white);
}

.sum-title {
	display: flex;
	justify-content: space-between;
	font-family: var(--secondary-font);
	color: var(--white);
	margin-bottom: 1rem;
}

.sum-title > span {
	margin-right: 1.1rem;
}

.sum-content {
	width: 90%;
	margin: 0 auto;
}

.link.active {
	background-color: var(--accent);
}

.link > a:hover {
	background-color: var(--white);
	color: var(--black);
}

.link > a {
	font-family: var(--main-font);
	text-decoration: none;
	color: var(--white);
}

.link > a {
	display: flex;
	justify-content: space-between;
}

.ext-links {
	margin: 15px 0;
}

.ext-links-title {
	display: flex;
	justify-content: space-between;
	color: var(--white);
	margin-bottom: 10px;
}

.ext-links-title > h2 {
	font-family: var(--main-font);
	font-size: 1rem;
}

.hour-glass {
	height: 39.5%;
	display: grid;
	place-content: center;
	user-select: none;
}

.hour-glass > pre {
	width: 15ch;
}

.main-panel {
	width: 100%;
	height: 97%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.main-panel > .main-text {
	font-family: var(--main-font);
	color: var(--white);
	font-size: 1rem;
}

.container {
	width: 70%;
	margin: 0 auto;
	padding-right: 20px;
}

footer > p {
	font-family: var(--main-font);
	font-size: 10px;
	color: var(--white);
	margin: 0;
}

@media screen and (width < 851px) {
	::-webkit-scrollbar {
		display: none;
	}
	body {
		padding: 0;
	}

	.content {
		flex-direction: column;
	}

	.nav-panel {
		display: none;
		position: absolute;
		margin: 0 auto;
		width: 250px;
		height: 520px;
		border: 1px solid var(--white);
		background-color: var(--black);
	}

	.nav-panel.active {
		display: block;
	}

	.main-panel .container {
		padding: 0.5rem;
	}

	.burger-container {
		opacity: 1;
	}
}
