.paralyzed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.paralyzed > a {
	font-family: var(--secondary-font);
	font-size: 2rem;
	text-decoration: none;
	color: var(--white);
}

.paralyzed:hover {
	background-color: var(--accent);
}

.paralyzed > a:hover {
	color: var(--black);
}

.skull {
	height: 100%;
	display: grid;
	place-items: center;
	font-size: 1.5rem;
	animation: flicker 200ms infinite;
	user-select: none;
}
